@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

body {
    background: black;
    font-family: "Special Gothic Expanded One", sans-serif;
    color: white;
    font-size: 1.2em;
    margin: 0 2% 5%;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

ol {
    padding: 0;
    margin: 0;
}

li {
    font-size: medium;
}

.rules {
    max-width: 100%;
}

img {
    object-fit: contain;
}
